#root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

aside {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  overflow-y: auto;
}

@media screen and (min-width: 640px) {
  #root {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-left: 1rem;
  }
  main {
    padding: 1rem;
  }
  aside {
    margin-top: 1rem;
    display: flex;
    background-color: #262c3a;
    width: 100%;
    align-items: flex-start;
    padding: 1rem;
    height: calc(100vh - 2rem);
    border-radius: 1rem;
    overflow-y: auto;
  }

}
